[init]
	defaultBranch = main
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[user]
	email = 19738295+oskarnurm@users.noreply.github.com.
	name = oskarnurm
[core]
	editor = nvim
