[init]
	defaultBranch = main
[user]
	email = 19738295+oskarnurm@users.noreply.github.com.
	name = oskarnurm
[core]
	editor = nvim
	excludesfile = ~/.global_gitignore
[push]
  autoSetupRemote = true
[merge]
    tool = nvimdiff
