/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #282828ff;
    background-alt: #928374ff;
    foreground:     #fbf1c7ff;
    selected:       #f9f5d7ff;
    active:         #fb4934ff;
    urgent:         #FB4934FF;
}
